* {
    box-sizing: border-box;
    margin: 0;
    padding: 0s;
    font-family: Roboto;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2  {
    color: #F9FAF8;
    font-size: 24px;
}

nav {
    padding: 15px 10%;
    color: #a8a9aa;
    font-size: 15px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

.main-presentation {
    padding: 15px 10%;
    color: #a8a9aa;
    font-size: 15px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-presentation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.main-presentation div {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    text-align: left;
    align-items: flex-start;
    gap: 10px;
}

.main-presentation img {
    width: 400px;
    height: 150px;
    margin: 15px;
    background-color: #808080;
}

.btn-basic {
    background-color: #3882F6;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 2px 10px;
}

h1 {
    color: #F9FAF8;
    font-size: 38px;
    font-weight: 700;
}

.informations {
    text-align: center;
}

.informations h3 {
    margin: 20px 0;
    font-weight: 700;
}

.informations ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.informations ul li p {
    text-align: center;
    font-size: 12px;
    width: 75px;
    color: #808080;
} 

.informations ul li img {
    width: 75px;
    height: 75px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote {
    background-color: #dedede;
    margin-top: 50px;
    padding: 50px 20%;
}

.quote-text {
    font-style: italic;
    color: #616060;
}

.signed {
    font-weight: 700;
    text-align: right;
}

.sign-up {
    margin: 35px 10%;
    padding: 20px 40px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.sign-up div p {
    font-size: 12px;
    color:rgb(189, 189, 189);
    margin-right: 15px;
}

.sign-up button {
    border: 1px solid #fff;
    margin: auto;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    background-color: #1F2937;
    color: #fff;
}